html {
    text-align: center;
    background: white;
    color: white;
}

.html {
    background:  red;
    color: white; 
}

#html {
    background:yellow;
    color: black;
}

#uno {
    background:blue;
    color: black;
}

#dos {
    background:yellow;
    color: black;
}

#tres {
    background:blue;
    color: black;
}

#cuatro {
    background:yellow;
    color: black;
}

#cinco {
    background:blue;
    color: black;
}
#seis {
    background:yellow;
    color: black;
}

#t {
    background:yellow;
    color: black;
}

#l {
    background:yellow;
    color: black;
}